.formElements input {
    height: 25px;
    width: auto;
    font-size: 15px;
    width: 150%;
}

.formElements {
    font-size: 18px;
    margin: 10px;
}

#submitButton {
    margin-left: 20%;
    margin-bottom: 10px;
    height: 35px;
    width: 90px;
    border-radius: 5px;
    background-color: red;
    box-shadow: 2px 2px 0px 0px black;
    color: white;
    font-weight: 500;
    font-size: 17px;
    float: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#tableStyleOnly {
    padding: 20px;
    width: fit-content;
    border-spacing: 20px;
}

#databaseTable {
    border: 3.5px solid black;
    margin: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 3px 1px 1px grey;
    padding: 5px;
    width: 98.5%;
    height: 30px;
    border-collapse: collapse;
}

#databaseTable th{
    border: 1px solid black;
    padding: 10px;
}


#databaseTable td{
    border: 1px solid black;
    padding: 10px;
}

#dbtableInner{
    text-align: center;
}

#deletedbTableButtons {
    margin: 18px;
    font-size: 15px;
    width: 70px;
    background-color: red;
    color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#editdbTableButtons {
    margin: 18px;
    font-size: 15px;
    width: 70px;
    background-color: grey;
    color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}



#updateButton {
    margin-left: 20%;
    margin-bottom: 10px;
    height: 35px;
    width: 90px;
    border-radius: 5px;
    background-color: red;
    box-shadow: 2px 2px 0px 0px black;
    color: white;
    font-weight: 500;
    font-size: 17px;
    display: none; 
    float: left;
}

#sort{
    margin-left: 1%;
    margin-bottom: 10px;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    background-color: red;
    box-shadow: 2px 2px 0px 0px black;
    color: white;
    font-weight: 500;
    font-size: 17px;
}

#clear{
    margin-left: 1%;
    margin-bottom: 10px;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    background-color: red;
    box-shadow: 2px 2px 0px 0px black;
    color: white;
    font-weight: 500;
    font-size: 17px;
} 
option{
    background-color: burlywood;
    
}